body {
  width: 80%;
  min-width: 300px;
  margin: auto;
  color: #fafafa;
  background-color: #202731;
  top: 35%;
  left: 10%;
  position: fixed;
  font-family: "Times New Roman";
}
.container{
  display: flex;
  flex-direction: column;

}

.Texttargets{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  font-size:2vh;
  animation: fadein 2s;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.Progressbar {
  position: relative;
  height: 5vh;
  border-radius: 1000px;
  background-color: #484848;
  clip-path: inset(0 0 0 0 round 1000px);
}

.Progressbar b{
  position: absolute;
  height: 5vh;
  width: 2px;
  overflow: hidden;
  top: -1px;
  background: red;
  left: 50%
}


.Progressbar__value {
  height: 5vh;
  transition: width 0.4s ease-in-out;
  border-radius: 1000px 0 0 1000px;
  background-color: #ff4c65;
  will-change: width;
  -webkit-animation: progressBar;
  animation: progressBar;
  animation-iteration-count: 1;
  animation-duration: 2.5s;
}

@keyframes progressBar {
  0% {
    width: 1%;
  }
  
  100% {
    width: width;
  }
}

@-webkit-keyframes progressBar { /* Safari and Chrome */
  0% {
    width: 1%;
  }
  
  100% {
    width: width;
  }
}


.percent {
  position: relative;
  left: 50%;
  top: 20%;
  bottom: 20%;
  font-size:3vh;
  font-family: "Times New Roman";
}

.date {
  position: relative;
  top: 1vh;
  font-size:2vh;
  font-family: "Times New Roman";
}

.footer {
  position: fixed;
  left: 1.5vw;
  bottom: 0;
  width: 100%;
  font-size:2vh;
  color: white;
  text-align: left;
}